---
import Layout from "../../layouts/BaseLayout.astro";
import {getCollection} from "astro:content";
import ArticleList from "../../components/blog/ArticleList.astro";
import {getPosts} from "../../lib";
// TODO: use getPosts function
// let articles = await getCollection("articles",(post) => {
//     return post.data.preview !== true;
// });

const articles = await getPosts({sort: true});
// articles = articles.sort((a,b) => a.data.published.getTime() - b.data.published.getTime());
const latestPosts = articles.slice(0,5);

// const a = getPosts({sort: true});
---

<Layout title="Browse articles">
    <header>
        <h1>Welcome</h1>
    </header>
    <main class="border-t border-border-neutral">
        <aside class="border-r border-border-neutral divide-y divide-border-neutral max-w-[25rem] max-md:hidden">
            <div class="p-24 space-y-8">
                <h6>Latest articles</h6>
                <ul aria-label="Latest posts list" class="space-y-8">
                    {latestPosts.map(post =>
                        <li>
                            <a href=`/blog/${post.id}` class="light:url underline">
                                {post.data.title}
                            </a>
                        </li>
                    )}
                </ul>
            </div>
        </aside>
        <ArticleList posts={articles}/>
    </main>
</Layout>

<style>
    header{
        display: grid;
        place-items: center;
        height: 275px;
        background-size: 16px 16px;
        background-image:
            linear-gradient(to bottom,rgba(255,255,255,0.075) 1px ,transparent 1px),
            linear-gradient(to right,rgba(255,255,255,0.075) 1px ,transparent 1px);

        [data-theme="light"] &{
            background-image:
                linear-gradient(to bottom,rgba(0,0,0,0.03) 1px ,transparent 1px),
                linear-gradient(to right,rgba(0,0,0,0.03) 1px ,transparent 1px);

        }
    }
    main{
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .blog-grid{
        display: grid;
        gap: 44px;
        grid-template-columns: repeat(auto-fill,minmax(min(650px,100%),1fr));
    }

    
	.blog-post{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
	}

	img{
		width: 100%;
		aspect-ratio: 16/9;
		transition: all 250ms;
        object-fit: cover;
	}
</style>
