---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import "../../../styles/blog.css";
import { formatDate } from "../../../lib/format";
import {getEntry,getCollection,render} from "astro:content";
import Share from "../../../components/blog/Share.astro";
import SimilarArticles from "../../../components/blog/SimilarArticles.astro";

const {article} = Astro.params;
export const getStaticPaths = async() => {
    const articles = await getCollection("articles",(post) => {
        return post.data.preview !== true;
    });

    return articles.map(a => {
        return {
            params: {article: a.id}
        };
    });
};

if (!article){
    return Astro.redirect("/404");
}
const post = await getEntry("articles",article);
if (!post){
    return Astro.redirect("/404");
}

const {Content,headings,remarkPluginFrontmatter} = await render(post);
const image = post.data.image;
console.log(remarkPluginFrontmatter)
// TODO: change size of content
// Make table of content smaller
// Make content bigger
---

<BaseLayout title={post.data.title}>
    <Fragment slot="head">
        <meta name="og:url" content={`https://www.wakunguma.com/blog/${post.id}`}>
        <meta property="og:image" content={`https://www.wakunguma.com${image}`}>
        <meta property="og:locale" content="en_GB">
        <meta property="og:image:url" content={`https://www.wakunguma.com${image}`}>
        <meta property="article:author" content="Wakunguma Kalimukwa">
        <meta name="twitter:card" content={"summary_large_image"}>
        <meta name="twitter:image" content={`https://www.wakunguma.com${image}`}>
    </Fragment>
    <main class="md:px-64 flex justify-center scroll-smooth">
        <div class="space-y-36 md:py-40 w-full">
            <img src={image} alt="" class="aspect-[16/9] w-full object-cover">
            <header class="flex flex-col items-center">
                <h1 class="text-center max-md:text-h3">{post.data.title}</h1>
                <p class="mt-8">{formatDate(post.data.published.toString())}</p>
            </header>
            <div class="flex px-24 md:px-64 gap-64 pb-64 justify-center">
                <div class="space-y-40">
                    <article class="blog-content">
                        <Content/>
                    </article>
                    <Share postId={post.id}/>
                    <SimilarArticles/>
                </div>
                <aside aria-label="Content Summary" class="max-lg:hidden h-full space-y-16 sticky top-32">
                    <h6>On this page</h6>
                    <ul>
                        {headings.map(heading => (
                            <li style={{ "--depth": `${heading.depth - 2}` }} class="heading-link">
                                <a href={`#${heading.slug}`}>{heading.text}</a>
                            </li>
                        )
                        )}
                    </ul>
                </aside>
            </div>
        </div>
    </main>
</BaseLayout>

<style>
    .heading-link{
        padding: 8px 16px;
        margin-left: calc(16px * var(--depth));
        border-left: 2px solid color-mix(in srgb, black 5%,transparent);
        position: relative;
        [data-theme="dark"] & {
            border-color: color-mix(in srgb, white 5%,transparent)
        }
    }
</style>
