---
import { formatDate } from "../../lib/format";
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import SortButton from "./SortButton.svelte";
import { type SortOption, sortPosts } from "../../lib";

type Props = {
    posts: CollectionEntry<"articles">[];
};

let { posts }: Props = Astro.props;

const filters: Map<string, number> = new Map();
filters.set("All", posts.length);

posts.forEach((post) => {
    const tags = post.data.tags;
    for (const tag of tags) {
        const count = filters.get(tag);

        if (!count) {
            filters.set(tag, 1);
            continue;
        }

        filters.set(tag, count + 1);
    }
});

const sortBy: SortOption =
    (Astro.url.searchParams.get("sort_by") as SortOption | null) ??
    "date_created";
// const activeFilter = Astro.url.searchParams.get("filter") ?? "All";
// let filteredPosts:CollectionEntry<"articles">[];
// if (activeFilter === "All") {
//     filteredPosts = posts;
// } else {
//     filteredPosts = posts
//         .filter(post => post.data.tags.includes(activeFilter));
// }

posts = sortPosts(posts, sortBy);
// TODO: get url and append
---


<section class="p-20 md:px-40 md:py-44 space-y-36">
    <header class="space-y-12">
        <h3>Articles</h3>
        <SortButton client:load sortOption={sortBy}/>
    </header>
    <ul class="article-grid">
        {posts.map(post =>
            <li>
                <a href={`/blog/${post.id}`} class="blog-post" data-astro-prefetch>
                    <Picture
                        widths={[360,720,1280,post.data.imageAsset.width]}
                        sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1280px) 1280px, (max-width: 1600px) ${post.data.imageAsset.width}px`}
                        src={post.data.imageAsset}
                        formats={["webp","jpg"]}
                        alt={`${post.data.title} thumbnail`}
                        class="rounded-md"
                    />
                    <div class="grid place-items-center p-12">
                        <h4 class="mb-8 max-md:text-h5 font-bold text-center">{post.data.title}</h4>
                        <p class="text-sm">
                            {formatDate(post.data.published.toString())}
                        </p>
                    </div>
                </a>
            </li>
        )}
    </ul>
</section>

<style>
    .article-grid {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill, min(minmax(550px, 1fr),1fr));
        gap: 24px;
    }

    .filter-chip{
        display: flex;
        align-items: start;
        border: 1px solid transparent;
        transition: 150ms all;
        gap: 4px;
        padding: 4px 12px;
        border-radius: var(--radius-full);
        cursor: pointer;

        &:hover{
            border-color: var(--color-purple-100);
        }

        &[data-selected="true"]{
            background-color: var(--color-purple-100);
            color: var(--color-neutral-950);
        }

        [data-theme="light"] &:hover{
            border-color: var(--color-purple-500);
        }

        [data-theme="light"] &[data-selected="true"]{
            background-color: var(--color-purple-500);
            color: var(--color-purple-50);
        }
    }
</style>
